<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/base.css') }}">
        {% block head %}
        {% endblock %}
        <title>Hangman - Eddy</title>
    </head>
    <body>
        
        <header class="text-light text-center">
            {% block header %}
            {% endblock %}
        </header>

        <main class="text-light">
            {% block content %}{% endblock %}
        </main>
        
        <footer class="text-lg-start text-white" style="background-color: #1c2331">
            {% block footer %}
            {% endblock %}
        </footer>
        
        <script src="{{ url_for('static', filename='/scripts/bootstrap.min.js') }}"></script>
    </body>
</html>